<div class="container">
  <a mat-raised-button *ngIf="auth.utilisateur != null" routerLink="/edit-produit">
    <mat-icon fontIcon="add"></mat-icon>
    Ajouter un article
  </a>

  <div class="row">
    <div *ngFor="let article of listeArticle" class="col-6">
      <mat-card class="mt-3" [class.promotion]="article.promotion > 0">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ article.nom }} <span class="chips">{{article.nom_categorie}}</span></mat-card-title>
          <mat-card-subtitle>
            <span class="prix">{{ article.prix }}€</span>
            <span *ngIf="article.promotion > 0" class="prix-promo">
              -{{ article.promotion }}%
            </span>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://picsum.photos/id/{{ article.id }}/500/300" />
        <mat-card-content>
          <p>
            {{ article.contenu }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary">Acheter</button>
          <button *ngIf="auth.utilisateur?.admin == 1" [routerLink]="['/edit-produit',article.id]" mat-button color="accent">
            <mat-icon fontIcon="edit"></mat-icon>
            Modifier
          </button>
          <button *ngIf="auth.utilisateur?.admin == 1" (click)="onSuppressionArticle(article.id)" mat-button color="warn">
            <mat-icon fontIcon="delete"></mat-icon>
            Supprimer
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
