mat-card.promotion {
    background-color: #e4eff1;

    mat-card-subtitle {
        .prix {
            text-decoration: line-through;
        }
        .prix-promo {
            font-size: 130%;
            font-weight: bold;
            color: green;
        }
    }
}

