<form class="container" (ngSubmit)="onSubmit()" [formGroup]="formulaire">
  <mat-form-field appearance="fill">
    <mat-label>Nom</mat-label>
    <input matInput formControlName="nom"/>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <div class="action-buttons">
      <button type="submit" mat-raised-button color="primary">Ajouter l'article</button>
      <a routerLink="/" mat-raised-button color="warn">Annuler</a>
  </div>

</form>
