<form class="container" (ngSubmit)="onConnexion()" [formGroup]="formulaire">
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
    <mat-error *ngIf="formulaire.get('email')?.hasError('required')">
      L'email est obligatoire
    </mat-error>
    <mat-error *ngIf="formulaire.get('email')?.hasError('email')">
      L'email est mal formé
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Mot de passe</mat-label>
    <input matInput formControlName="password" />
    <mat-error> Le mot de passe est obligatoire </mat-error>
  </mat-form-field>

  <div class="action-buttons">
    <button type="submit" mat-raised-button color="primary">Connexion</button>
    <a routerLink="/" mat-raised-button color="warn">Annuler</a>
  </div>
</form>
